/* footer */
.l-footer {
  padding: 24px 0
}
/* header */
.l-header {
  display: block;
  padding: 20px 0;
  text-align: center
}
/* nav */
.l-nav {
  width: 96%;
  max-width: 720px;
  margin: 0 auto
}
/* main */
.l-main {
  width: 96%;
  max-width: 720px;
  margin: 40px auto 0
}
